<div class="activities">
    <div class="activities__header">
      <h2>Recent Activities</h2>
    </div>

    {% for message in room_messages %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' message.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="{{ message.user.profile.avatar.url }}" />
          </div>
          <p>
            @{{message.user}}
            <span>{{message.created | timesince}} ago</span>
          </p>
        </a>

        {% if request.user == message.user %}
            <div class="roomListRoom__actions">
              <a href="{% url 'delete-message' message.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <title>remove</title>
                  <path 
                    d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                </svg>
              </a>
            </div>
        {% endif %}

      </div>
      <div class="activities__boxContent">
        <p>replied to post “<a href="{% url 'room' message.room.id %}">{{message.room}}</a>”</p>
        <div class="activities__boxRoomContent">
            {{message}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>






{% comment %} <div>
    <h3>Recent activities</h3>
    <hr>
    {% for message in room_messages %}
        <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>    {{message.created | timesince}}</small>
        <br>
        <span>replied to "{{message.room}}"</span>
        <p>{{message}}</p>
        {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
        <hr>
    {% endfor %}
</div> {% endcomment %}